@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller</title>
    <link rel="stylesheet" href="~/Styles/Home.css" type="text/css" />
</head>
<body>
    <form>
        <input placeholder="Username" />
        <input placeholder="Password" disabled/>
    </form>
</body>
</html>

