@model HospitalProjectFrontEnd.Models.Patient
@{
    Layout = "_Layout";
}

!DOCTYPE html>
<html>
<head>
    <title>Hospitallar - Patient Details</title>
</head>
<body>
    <section>
        <form>
            <input placeholder="Patient Name" />
            <input placeholder="Birthday" />
            <input placeholder="Time/Date of check-in" value="@DateTime.Now" />
        </form>
    </section>
</body>
</html>