@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller</title>
    <link rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <article>
            <img class="photo" src="img/andrew.JPG" alt="Andrew"><h1>Andrew Casper</h1>
            <a href="https://github.com/shifted7"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/andrewbcasper/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>
                Andrew Casper is a full-stack software sorcerer coming from the manufacturing world. He is creative, analytical, and collaborative, and wants to bring those skills to a team in tech.
                He graduated from Carnegie Mellon University and has worked on self-driving cameras, RGB lighting, and chromed components on cars and trucks. He saved his company millions of dollars a year by redesigning parts, spent a year in China getting hands-on experience, and made a presentation a colleague said was the best he'd ever seen. He feels confident presenting and enjoys mentoring others.
            </p>
        </article>

        <article>
            <img class="photo" src="img/teddy.jpeg" alt=Teddy"><h1>Teddy Damian</h1>
            <a href="https://github.com/teddydamian"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/tdamian/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>
                Teddy's 8 years experience in hospitality management has taught him the value of helping people get the small details right to make a project perfect while meeting clients needs.
                He believes that with the right leadership people can absolutely achieve more than what they think they can.
            </p>
        </article>

        <article>
            <img class="photo" src="img/matthew.jpeg" alt="Joseph"><h1>Joseph Hangarter</h1>
            <a href="https://github.com/JCode1986"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/joseph-hangarter/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>A blurb about Joseph</p>
        </article>

        <article>
            <img class="photo" src="img/matthew.jpeg" alt="Matthew"><h1>Matthew Johnson</h1>
            <a href="https://github.com/seasouthern"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/matthew-johnson-b1516745/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>
                Matthew Johnson is a Software Developer with extensive communications, outreach and digital media relations experience. He has a history of operating in a high stress environment and delivering quantifiable results. He has over 10 years of government service at the military, local and regional level. He is a self motivator that identifies, pursues, and achieves strategic goals while either working independently or within a small team of professionals.
            </p>
        </article>
    </section>
</body>
</html>

