@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller</title>
    <link rel="stylesheet" type="text/css" />
</head>
<body>
    <section>
        <article>
            <img class="photo" src="img/cait.JPG" alt="Andrew"><h1>Andrew Casper</h1>
            <a href="https://github.com/shifted7"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/andrewbcasper/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>A blurb about Andrew</p>
        </article>

        <article>
            <img>
        </article>

        <article>
            <img>
        </article>

        <article>
            <img class="photo" src="img/matthew.jpeg" alt="Matthew"><h1>Matthew Johnson</h1>
            <a href="https://github.com/shifted7"> <img class="icon" src="img/github.png" alt="github"></a>
            <a href="https://www.linkedin.com/in/andrewbcasper/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            <p>A blurb about Matthew</p>
        </article>
    </section>
</body>
</html>

