@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller - About Us</title>
    <link rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="row">
        <article class="col-md-6 row p-4">
            <div class="col-md-auto">
                <img class="photo col-md-6" src="img/andrew.JPG" alt="Andrew">
            </div>
            <div class="col-md-auto">
                <h1>Andrew Casper</h1>
                <a href="https://github.com/shifted7"> <img class="icon" src="img/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/andrewbcasper/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            </div>
            <p>
                Andrew Casper is a full-stack software sorcerer coming from the manufacturing world. He is creative, analytical, and collaborative, and wants to bring those skills to a team in tech.
            </p>
        </article>

        <article class="col-md-6 row p-4">
            <div class="col-md-auto">
                <img class="photo col-md-6" src="img/teddy.jpeg" alt="Teddy">
            </div>
            <div class="col-md-auto">
                <h1>Teddy Damian</h1>
                <a href="https://github.com/teddydamian"> <img class="icon" src="img/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/tdamian/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            </div>
            <p>
                Teddy's 8 years experience in hospitality management has taught him the value of helping people get the small details right to make a project perfect while meeting clients needs.
                He believes that with the right leadership people can absolutely achieve more than what they think they can.
            </p>
        </article>

        <article class="col-md-6 row p-4">
            <div class="col-md-auto">
                <img class="photo col-md-6" src="~/img/joseph.jpg" alt="Joseph">
            </div>
            <div class="col-md-auto">
                <h1>Joseph Hangarter</h1>
                <a href="https://github.com/JCode1986"> <img class="icon" src="img/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/joseph-hangarter/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            </div>
            <p>Software developer who is a Navy Veteran with a background in Surveillance & Security with a strong passion to  use code to maximize efficiency while developing creative, customer-focused solutions.</p>
        </article>

        <article class="col-md-6 row p-4">
            <div class="col-md-auto">
                <img class="photo col-md-6" src="img/matthew.jpeg" alt="Matthew">
            </div>
            <div class="col-md-auto">
                <h1>Matthew Johnson</h1>
                <a href="https://github.com/seasouthern"> <img class="icon" src="img/github.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/matthew-johnson-b1516745/"> <img class="icon" src="img/LinkedIn_logo.png" alt="linkedin"></a>
            </div>
            <p>
                Matthew Johnson is a Software Developer with extensive communications, outreach and digital media relations experience. He has a history of operating in a high stress environment and delivering quantifiable results while working either independently or as part of a small team of professionals.
            </p>
        </article>
    </section>
</body>
</html>

