body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50rem;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: none !important;
}