body {
    background-color: white;
    color: darkred;
    padding: 25px;
}

.nameLogo{
    font-family: 'Fondamento', cursive;
    font-size: 48px;
    margin: 20px;
}


/*About Us page rendering*/
.photo {
    /* display: inline-flexbox; */
    max-width: 200px !important;
    border-radius: 20%;
}

.icon {
    width: 40px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

/*End About Us page*/