@model HospitalProjectFrontEnd.Models.Patient
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hospitaller - Add Patient</title>
</head>
<body>
    <section>
        <form action="add" method="post">
            <label>Name:</label>
            <input placeholder="Full name: ie 'John Doe'" asp-for="Name" />
            <br />
            <label>Birthday:</label>
            <input type="date" placeholder="MM/DD/YYYY" asp-for="Birthday" />
            <br />
            <label>Status:</label>
            <select asp-for="Status">
                <option value="0">0 - Stable</option>
                <option value="1">1 - Unstable</option>
                <option value="2">2 - Critical</option>
                <option value="3">3 - Deceased</option>
                <option value="4">4 - Unknown</option>
            </select>
            <br />
            <button class="btn btn-danger" type="submit">Add Patient</button>
        </form>
    </section>
</body>
</html>