@model IEnumerable<HospitalProjectFrontEnd.Models.Patient>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hospitallar - Patient List</title>
</head>
<body>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <section>
        <h2>Patients:</h2>
        <a class="btn btn-lg btn-primary btn-block" href="/patients/add">Add Patient</a>
        @foreach (var patient in Model)
        {
    <article>
        <h3>@patient.Name</h3>      
            @switch (patient.Status)
        {
            case 0:
                <h4>Status: Stable</h4>
                break;
            case 1:
                <h4>Status: UnStable</h4>
                break;
            case 2:
                <h4>Status: Critical</h4>
                break;
            case 3:
                <h4>Status: Deceased</h4>
                break;
            default:
                <h4>Status: Unknown</h4>;
                break;
        }
        
        <h4>Check-in Date: @patient.CheckIn</h4>
    </article>
            <a href="/patients/details/@patient.ID" class="btn btn-primary">See Details</a>
        }

    </section>
</body>
</html>