<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" type="text/css" />
</head>
<body>
    <header>
        <h1>Hospitaller</h1>
        <nav>
            <ul>
                <li>HOME</li>
                <li>PATIENTS</li>
                <li>ABOUT US</li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
