<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Hospitaller</h1>
        <nav>
            <ul>
                <li>HOME</li>
                <li>PATIENTS</li>
                <li>ABOUT US</li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
